name: release

on:
  release:
    types:
      - created

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: make release

      - name: Upload binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_name: dummydb-binary
          asset_path: ./build/main
          asset_content_type: application/octet-stream

      - name: Upload LICENSE
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_name: LICENSE
          asset_path: LICENSE
          asset_content_type: text/plain
          
      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/intro-to-ci-cd-${{ github.repository_owner }}:${{ github.ref_name }} .

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository_owner }}/intro-to-ci-cd-${{ github.repository_owner }}:${{ github.ref_name }}
